@import url("style/header.css");
body {
    background-color: rgb(170, 20, 175);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(149, 0, 255);
}

.h2 {

    color:rgba(255, 247, 17, 0.874);
   
}
